---
import BasicLayout from "@layouts/basicLayout.astro"
import { getCollection } from "astro:content"

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

// Get all entries from blog collection except the offline:
const posts = await getCollection("blog", ({ data }) => {
  return data.offline !== true
})

// Sort posts by id (which has the date on its start):
posts.sort((a, b) => b.id.localeCompare(a.id))
---

<BasicLayout
  title="dveras em rede"
  description="Pai de dois rapazes, marido, jornalista, roteirista. Pernambucano de nascimento, filho de cearenses, potiguar e catarinense por adoção. Migrante - filho de todos os cantos e de canto nenhum."
  url={canonicalURL.href}
>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.titulo}</a>
        </li>
      ))
    }
  </ul>
</BasicLayout>
