---
import { css } from "@styled-system/css"
---

<!-- Theme Select Component: https://astro-tips.dev/recipes/dark-mode/ -->
<span
  class={css({
    ml: "10px",
  })}
  >Tema:
</span>
<select id="themeSelector" transition:persist>
  <option value="auto">Auto</option>
  <option value="light">Light</option>
  <option value="dark">Dark</option>
</select>

<script is:inline>
  const selector = document.getElementById("themeSelector")
  selector.onchange = (event) => theme.setTheme(event.target.value)
  updateSelectedTheme()
  document.addEventListener("theme-changed", (event) => {
    updateSelectedTheme(event.detail.theme)
  })
  function updateSelectedTheme(newTheme = theme.getTheme()) {
    selector.value = newTheme
  }
</script>
