---
import "@styles/index.css"
import { css } from "@styled-system/css"
import { flex } from "@styled-system/patterns"
import "@fontsource-variable/noto-sans"
import ThemeManager from "@components/ThemeManager.astro"
import ThemeSelect from "@components/ThemeSelect.astro"
import { ViewTransitions } from "astro:transitions"

const { title, description, url } = Astro.props
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ThemeManager defaultTheme="auto" />
    <ViewTransitions />
  </head>

  <body
    class={flex({
      bgColor: "mainBg",
      maxW: "1000px",
      m: "0 auto",
      px: "20px",
      minH: "100vh",
      flexDirection: "column",
      h: "100%",
    })}
  >
    <header
      class={flex({
        flex: "none",
        py: "40px",
        justifyContent: "space-between",
        alignItems: "center",
        flexDirection: { base: "column", md: "row" },
      })}
    >
      <a
        class={css({
          w: { base: "100%", md: "450px", lg: "500px" },
          h: "headerHeight",
          bgImage: "logo",
          bgSize: "contain",
          bgRepeat: "no-repeat",
          bgPosition: "center",
        })}
        href="/"
      >
      </a>
      <div
        id="options"
        class={flex({
          alignItems: "center",
          textStyle: "headerAndFooter",
          color: "basicText",
          h: "headerHeight",
          mt: { base: "15px", md: "0px" },
        })}
      >
        <a
          class={css({
            mr: "20px",
          })}
          href="/sobre">sobre</a
        >
        <ThemeSelect />
      </div>
    </header>
    <main class={css({ flex: "1 0 auto" })}>
      <slot />
    </main>
    <footer
      class={flex({
        flex: "none",
        textStyle: "headerAndFooter",
        color: "basicText",
        justifyContent: "space-between",
        bgColor: "#eaeaea",
        p: "20px",
        "& a": {
          textDecoration: "underline",
        },
      })}
    >
      <div class={css({})}>categorias</div>
      <div class={css({ textAlign: "right" })}>
        <p>Escrito por Dauro Veras</p>
        <p>
          Desenvolvido por <a
            href="https://www.fabricioboppre.net"
            target="_blank">Fabricio C. Boppré</a
          >
        </p>
        <p>creative commons?</p>
        <p>RSS</p>
      </div>
    </footer>
  </body>
</html>
