---
import "../styles/index.css"
import { css } from '../../styled-system/css'
import { AstroContentDevtools } from 'astro-content-devtools'
import { collections } from '../content/config'

const { title, description, url } = Astro.props
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <h1 class={css({ fontSize: "3xl", fontWeight: 'bold' })}>dveras em rede</h1>
    <AstroContentDevtools collections={collections} />
    <slot />
  </body>
</html>
