---
import "@styles/index.css"
import { Picture } from "astro:assets"
import logo from "@images/logo.png"
import { css } from "@styled-system/css"
import { flex } from "@styled-system/patterns"
import "@fontsource-variable/noto-sans"
import ThemeManager from "@components/ThemeManager.astro"
import ThemeSelect from "@components/ThemeSelect.astro"
import { ViewTransitions } from "astro:transitions"

const { title, description, url } = Astro.props
---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ThemeManager defaultTheme="auto" />
    <ViewTransitions />
  </head>

  <body
    class={flex({
      bgColor: "mainBg",
      maxW: "1000px",
      m: "0 auto",
      px: "20px",
      minH: "100vh",
      flexDirection: "column",
      h: "100%",
    })}
  >
    <header
      class={flex({
        flex: "none",
        py: "40px",
        justifyContent: "space-between",
        alignItems: "center",
      })}
    >
      <a href="/">
        <Picture src={logo} formats={["webp"]} alt="dveras em rede" />
      </a>
      <div
        id="options"
        class={flex({
          alignItems: "center",
          h: "headerOptionsHeight",
          textStyle: "headerOptions",
          color: "basicText",
        })}
      >
        <a
          class={css({
            mr: "20px",
            pb: "headerOptionsTextBottomPadding",
          })}
          href="/sobre">sobre</a
        >
        <ThemeSelect />
      </div>
    </header>
    <main class={css({ flex: "1 0 auto" })}>
      <slot />
    </main>
    <footer
      class={css({
        flex: "none",
        color: "basicText",
      })}
    >
      rodapé em construção
    </footer>
  </body>
</html>
