---
import BasicLayout from "@layouts/basicLayout.astro"
import { css } from "@styled-system/css"
import { flex } from "@styled-system/patterns"
import { getCollection, getEntries, render } from "astro:content"
import type { GetStaticPaths } from "astro"
import "@fontsource-variable/roboto-serif"
import { map } from "astro:schema"

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

// We use getStaticPaths() to divide the post collection for each category:
// - https://docs.astro.build/en/reference/routing-reference/#paginate
export async function getStaticPaths() {
  // Get all entries from blog collection (except the offline) and sort them by date:
  const posts = (
    await getCollection("blogCollection", ({ data }) => {
      return data.offline !== true
    })
  ).sort(
    (a, b) =>
      b.data.data_publicacao.getTime() - a.data.data_publicacao.getTime(),
  )
  // Get all entries from categorias collection:
  const categorias = await getCollection("categoriasCollection")

  // Now let's prepare the props:
  return categorias.map((categoria) => {
    // To get the posts filtered by categories, the simpler code below should work, but it's not working. It's some strange Astro bug. That's why I'm using the more complex code with a for loop.
    //const filteredPosts = posts.filter((post) =>
    //post.data.relatedCategorias.includes(categoria),
    //)
    var filteredPosts = new Array()
    posts.map((post) => {
      for (var i = 0; i < post.data.relatedCategorias.length; i++) {
        if (post.data.relatedCategorias[i].id == categoria.id) {
          filteredPosts.push(post)
          break
        }
      }
    })
    return {
      params: { id: categoria.id },
      props: { posts: filteredPosts },
    }
  })
}
const { id } = Astro.params
const { posts } = Astro.props
---

<BasicLayout
  title="dveras em rede"
  description="Pai de dois rapazes, marido, jornalista, roteirista. Pernambucano de nascimento, filho de cearenses, potiguar e catarinense por adoção. Migrante - filho de todos os cantos e de canto nenhum."
  url={canonicalURL.href}
>
  <p>oi!</p>
</BasicLayout>
